<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_address_collect_totals_after">
        <observer name="sales_quote_calculate_custom_tax" instance="Adapty\Checkout\Observer\Sales\CalculateTax" disabled="false"/>
    </event>
</config>