<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="url:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\OfflineShipping\Model\ResourceModel\Carrier\Tablerate\CSV\RowParser">
        <plugin name="tablerate_import_fuel_surcharge" type="Adapty\Shipping\Plugin\TableRate\CSV\FuelSurchargeRowParser" sortOrder="1"/>
    </type>
</config>