<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tax" translate="label" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="tax_on_order" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Tax Rates</label>
                  <field id="tax_rate" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rates(%)</label>
                    <validate>required-entry alphanumeric</validate>
                    <config_path>tax/tax_on_order/tax_rate</config_path>
                </field>
            </group>
        </section>
    </system>
</config>